<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Code</th>
      <th>Count</th>
      <th>Statement</th>
      <th>Assoc.Chemical</th>
      <th>Prevention</th>
      <th>Response</th>
      <th>Storage</th>
      <th>Disposal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>H225</td>
      <td>1</td>
      <td>Highly Flammable liquid and vapor.</td>
      <td>[1,2-Dimethoxyethane]</td>
      <td>[Keep container tightly closed., Use explosion-proof electrical/ventilating/lighting/.../equipment., Wear protective gloves/protective clothing/eye protection/face protection., Keep away from heat/sparks/open flames/hot surfaces. No smoking., Take precautionary measures against static discharge., Use only non-sparking tools., Ground/bond container and receiving equipment.]</td>
      <td>[IF ON SKIN (or hair): Remove/Take off Immediately all contaminated clothing. Rinse SKIN with water/shower., In case of fire: Use ... for extinction.]</td>
      <td>[Store in a well-ventilated place. Keep cool.]</td>
      <td>[Dispose of contents/container to ...]</td>
    </tr>
    <tr>
      <td>H315</td>
      <td>1</td>
      <td>Causes skin irritation.</td>
      <td>[1,2-Dimethoxyethane]</td>
      <td>[Wear protective gloves/protective clothing/eye protection/face protection., Wash skin thoroughly after handling.]</td>
      <td>[Take off contaminated clothing and wash before reuse., Specific treatment (see ... on this label)., IF ON SKIN: wash with plenty of soap and water., IF SKIN irritation occurs: Get medical advice/attention.]</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>H319</td>
      <td>1</td>
      <td>Causes serious eye irritation.</td>
      <td>[Propylene carbonate]</td>
      <td>[Wear protective gloves/protective clothing/eye protection/face protection., Wash skin thoroughly after handling.]</td>
      <td>[IF eye irritation persists: Get medical advice/attention., IF IN EYES: Rinse cautiously with water for several minutes. Remove contact lenses, if present and easy to do. Continue rinsing.]</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>H360FD</td>
      <td>1</td>
      <td>May damage fertility. May damage the unborn child.</td>
      <td>[1,2-Dimethoxyethane]</td>
      <td>[Obtain special instructions before use., Do not handle until all safety precautions have been read and understood., Use personal protective equipment as required.]</td>
      <td>[IF exposed or concerned: Get medical advice/attention.]</td>
      <td>[Store locked up.]</td>
      <td>[Dispose of contents/container to ...]</td>
    </tr>
    <tr>
      <td>Supp. 1</td>
      <td>1</td>
      <td>May form explosive peroxides.</td>
      <td>[1,2-Dimethoxyethane]</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>