<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Name</th>
      <th>Synonyms</th>
      <th>CAS</th>
      <th>Formula</th>
      <th>Hazards</th>
      <th>Precautions</th>
      <th>PPE</th>
      <th>Product Number</th>
      <th>SDS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1,2-Dimethoxyethane</td>
      <td>[Dimethylglycol, Ethylene glycol dimethyl ether, Monoglyme, mono-Glyme]</td>
      <td>110-71-4</td>
      <td>CH3OCH2CH2OCH3</td>
      <td>{'H225': 'Highly Flammable liquid and vapor.', 'H360FD': 'May damage fertility. May damage the unborn child.', 'H315': 'Causes skin irritation.'}</td>
      <td>{'P201': 'Obtain special instructions before use.', 'P403+P235': 'Store in a well-ventilated place. Keep cool.', 'P280': 'Wear protective gloves/protective clothing/eye protection/face protection.', 'P210': 'Keep away from heat/sparks/open flames/hot surfaces. No smoking.', 'P370+P378': 'In case of fire: Use ... for extinction.', 'P308+P313': 'IF exposed or concerned: Get medical advice/attention.'}</td>
      <td>[Eyeshields, Faceshields, Full-face respirator (US), Gloves, Multi-purpose combination respirator cartridge (US), Type ABEK (EN14387) respirator filter]</td>
      <td><a href="http://www.sigmaaldrich.com/catalog/product/sial/259527">259527</a></td>
      <td><a href="SDS\1,2-Dimethoxyethane - SDS.pdf">SDS</a></td>
    </tr>
    <tr>
      <td>Propylene carbonate</td>
      <td>[1, 2-Propanediol cyclic carbonate, 4-Methyl-1, 3-dioxolan-2-one]</td>
      <td>108-32-7</td>
      <td>C4H6O3</td>
      <td>{'H319': 'Causes serious eye irritation.'}</td>
      <td>{'P305+P351+P338': 'IF IN EYES: Rinse cautiously with water for several minutes. Remove contact lenses, if present and easy to do. Continue rinsing.'}</td>
      <td>[Eyeshields, Full-face respirator (US), Gloves, Multi-purpose combination respirator cartridge (US), Type ABEK (EN14387) respirator filter]</td>
      <td><a href="http://www.sigmaaldrich.com/catalog/product/sial/310328">310328</a></td>
      <td><a href="SDS\Propylene carbonate - SDS.pdf">SDS</a></td>
    </tr>
  </tbody>
</table>