<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Item</th>
      <th>Count</th>
      <th>Assoc.Chemical</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Eyeshields</td>
      <td>2</td>
      <td>[1,2-Dimethoxyethane, Propylene carbonate]</td>
    </tr>
    <tr>
      <td>Faceshields</td>
      <td>1</td>
      <td>[1,2-Dimethoxyethane]</td>
    </tr>
    <tr>
      <td>Full-face respirator (US)</td>
      <td>2</td>
      <td>[1,2-Dimethoxyethane, Propylene carbonate]</td>
    </tr>
    <tr>
      <td>Gloves</td>
      <td>2</td>
      <td>[1,2-Dimethoxyethane, Propylene carbonate]</td>
    </tr>
    <tr>
      <td>Multi-purpose combination respirator cartridge (US)</td>
      <td>2</td>
      <td>[1,2-Dimethoxyethane, Propylene carbonate]</td>
    </tr>
    <tr>
      <td>Type ABEK (EN14387) respirator filter</td>
      <td>2</td>
      <td>[1,2-Dimethoxyethane, Propylene carbonate]</td>
    </tr>
  </tbody>
</table>