<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Code</th>
      <th>Count</th>
      <th>Statement</th>
      <th>Assoc.Chemical</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>P201</td>
      <td>1</td>
      <td>Obtain special instructions before use.</td>
      <td>[1,2-Dimethoxyethane]</td>
    </tr>
    <tr>
      <td>P210</td>
      <td>1</td>
      <td>Keep away from heat/sparks/open flames/hot surfaces. No smoking.</td>
      <td>[1,2-Dimethoxyethane]</td>
    </tr>
    <tr>
      <td>P280</td>
      <td>1</td>
      <td>Wear protective gloves/protective clothing/eye protection/face protection.</td>
      <td>[1,2-Dimethoxyethane]</td>
    </tr>
    <tr>
      <td>P305+P351+P338</td>
      <td>1</td>
      <td>IF IN EYES: Rinse cautiously with water for several minutes. Remove contact lenses, if present and easy to do. Continue rinsing.</td>
      <td>[Propylene carbonate]</td>
    </tr>
    <tr>
      <td>P308+P313</td>
      <td>1</td>
      <td>IF exposed or concerned: Get medical advice/attention.</td>
      <td>[1,2-Dimethoxyethane]</td>
    </tr>
    <tr>
      <td>P370+P378</td>
      <td>1</td>
      <td>In case of fire: Use ... for extinction.</td>
      <td>[1,2-Dimethoxyethane]</td>
    </tr>
    <tr>
      <td>P403+P235</td>
      <td>1</td>
      <td>Store in a well-ventilated place. Keep cool.</td>
      <td>[1,2-Dimethoxyethane]</td>
    </tr>
  </tbody>
</table>